<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= @products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/shared/taxonomies' %>
<% end %>

<div id='content' class='grid_9' data-hook="homepage_products">
  <h1 class="page_title"><%= Spree.t(:product_list) %></h1>
    <div class="grid_product">
      <% cache(cache_key_for_products) do %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :li => false } %>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="paginations">
      <%= paginate paginated_products, theme: 'breeze' %>
    </div>
</div>